[[source]]

url = "https://github.com/Evgenus/comeet-pdf-challenge.git"
verify_ssl = true


[packages]

django = "1.11.5"
gunicorn = "*"
django-heroku = "*"
coverage = "4.4.2"
djangorestframework = "3.7.7"
drf-nested-routers = "0.90.0"
factory-boy = "2.9.2"

[requires]

python_version = "2.7"
